
*.setup
*.log
*.dat
*.xmi
*.prefs
*.resources
*.properties
*.css
*.ini
*.check
*.xml
*.json
*.zip
*.lock
Java/.metadata/.plugins/org.eclipse.ui.intro/introstate
Java/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Java/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Java/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Java/.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.mylyn/.taskListIndex/segments_1
